<html>
    <head>
        <title>
            Hbs about page
        </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>{{Title}}</h1>
        <h5>Created by {{name}}</h5>
        {{>footer}}
        <script src='js/app.js'></script>
    </body>
</html>