<html>
    <head>
        <title>
            Hbs help page
        </title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
         {{>header}}
        <h1>{{title}}</h1>
        <h4>{{msg}}</h4>
        <h5>Created by {{name}}</h5>
        {{>footer}}
        <script src='js/app.js'></script>
    </body>
</html>